ion-title {
    text-align: center;
    font-weight: bold;
    color: white;   
}

ion-item {      
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 18px;
}

ion-input ion-datetime {
    margin-top: 5px;
}

.button {
    margin-top: 10px;
    text-align: center;
}