<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/district/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ room.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-img [src]="room.image"></ion-img>
          </ion-col>
        </ion-row>
          
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-icon name="person-outline"> </ion-icon>
          <p> {{ room.guest }} Guest</p>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item lines="none">
          <ion-icon name="pizza-outline" ></ion-icon>
          <p>{{ room.kitchen }} Kitchen</p>
        </ion-item>
        </ion-col>
      </ion-row>

        <ion-row>
          <ion-col>
            <ion-item lines="none">
            <ion-icon name="bed-outline"></ion-icon>
            <p>{{ room.bedroom }} Bedroom</p>
          </ion-item>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
            <ion-icon name="car-sport-outline"></ion-icon>
            <p>{{ room.park }} Garage</p>
          </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label>
             <h2>DESCRIPTION</h2> 
            </ion-label>
             <p>{{ room.description }}</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label>{{ room.price | currency }} / Day</ion-label>
          </ion-col>
          <ion-col>
            <ion-button (click)="gotogallery(room.id)">View More</ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button color="primary" expand="full" (click)="gotobooking()">Book</ion-button>
          </ion-col>
        </ion-row>
        
     
  </ion-grid>
</ion-content> 
