<ion-app>
  <ion-content fullscreen>
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size-sm="6" offset-sm="3">
              <ion-img src="../assets/imageincard.png"></ion-img>
            </ion-col>
          </ion-row>
          <ion-card-title class="ion-text-center">
            SweetRoom
          </ion-card-title>

          <!-- <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            
              <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                  <ion-list>
                    <ion-item>
                      <ion-label position="floating">E-mail</ion-label>
                      <ion-input type="email" ngModel name="email" required email #emailCtrl="ngModel"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
                      <ion-label>Should be a valid email address.</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label position="floating">Password</ion-label>
                      <ion-input type="password" ngModel name="password" required minlength="6" #passwordCtrl="ngModel"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines="none">
                      <ion-label>Should have a mininum of 6 characters.</ion-label>
                    </ion-item>
                  </ion-list>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                  <ion-button type="button" color="primary" fill="clear" expand="full" (click)="onSwitchAuthMode()">Switch to {{ isLogin ? 'Signup' : 'Login' }}</ion-button>
                  <ion-button type="submit" color="primary" (click)="onLogin()" expand="block" [disabled]="!f.valid">{{ isLogin ? 'Login' : 'Signup' }}</ion-button>
                </ion-col>
              </ion-row>
          </form> -->

          <form [formGroup]="loginForm">
            <ion-item>
              <ion-label position="stacked">Email</ion-label>
              <ion-input
                formControlName="email"
                type="email"
                placeholder="Your email address"
                [class.invalid]="!loginForm.controls['email'].valid && loginForm.controls['email'].touched"
              >
              </ion-input>
            </ion-item>
            <ion-item
              class="error-message"
              *ngIf="!loginForm.controls['email'].valid &&
          loginForm.controls['email'].touched"
            >
              <ion-label>Please enter a valid email address.</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Password</ion-label>
              <ion-input
                formControlName="password"
                type="password"
                placeholder="Your password"
                [class.invalid]="!loginForm.controls['password'].valid&&
          loginForm.controls['password'].touched"
              >
              </ion-input>
            </ion-item>
            <ion-item
              class="error-message"
              *ngIf="!loginForm.controls['password'].valid
          && loginForm.controls['password'].touched"
            >
              <ion-label>Your password needs more than 6 characters.</ion-label>
            </ion-item>
            <div class="ion-padding">
              <ion-button
                (click)="loginUser(loginForm)"
                expand="block"
                [disabled]="!loginForm.valid"
              >
                Log In
              </ion-button>
            </div>
          </form>

          <ion-row>
            <ion-col>
              <ion-button expand="block" fill="clear" (click)="goRegister()">
                Register now!
              </ion-button>
              <ion-button expand="block" fill="clear" (click)="goForgotPassword()">
                I forgot my password :(
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>