<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Booking Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>

      <form [formGroup]="form">
      <ion-list lines="full">
        <ion-item>
          <ion-label position="stacked">Name</ion-label>
          <ion-input required type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">IC Number</ion-label>
          <ion-input required type="text" placeholder="00-000000" formControlName="ic"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Phone Number</ion-label>
          <ion-input required type="text" maxlength="7" formControlName="phoneno"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Available</ion-label>
          <ion-label position="stacked" >From</ion-label>
          <ion-datetime formControlName="availableFrom"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">To</ion-label>
          <ion-datetime formControlName="availableTo"></ion-datetime>
        </ion-item>
      </ion-list>
      </form>

      <div class="button">
      <ion-button type="submit" color="primary" (click)="onCreateBooking()" [disabled]="!form.valid">Book</ion-button>
      <ion-button color="danger" (click)="cancel()">Cancel</ion-button>
      </div>
    </ion-card-content>
  </ion-card>  
</ion-content>
