<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Favorite Rooms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          
            <ion-item *ngFor= "let room of favourites" [routerLink]="['/district/tabs/home', room.id]" detail>
              <ion-label><h2>{{ room.title }}</h2></ion-label>
            </ion-item>
         
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
