<ion-app>
  <ion-content>
    <ion-header>
      Rooms Offer
    </ion-header>

    <ion-list>
      <ion-item>
        <ion-label>
          Beryl
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Bronzite
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Baryte
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-app>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-label>Home</ion-label>
      <ion-icon name="home"></ion-icon>     
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-label>Search</ion-label>
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="fav">
      <ion-label>Fav</ion-label>
      <ion-icon name="heart"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="more">
      <ion-label>More</ion-label>
      <ion-icon name="ellipsis-horizontal"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
